<div class="rent">
  <h3>Аренда торговых площадей в Белгороде</h3>
  <span>Для Вас имеются свободные помещения на цокольном этаже. </span>
  <hr />
  <span
    >Предлагаем Вам рассмотреть помещения для аренды в торговом центре
    «Купеческий» в городе Белгород.
  </span>

  <span
    >Мы постоянно расширяем спектр услуг, предлагаемых посетителям, а также
    стремимся, чтобы в нашем Торговом Центре были представлены самые интересные
    и необходимые магазины и услуги . Мы всегда готовы к диалогу с компаниями,
    которые хотели бы сотрудничать с нами.
  </span>
  <h2>Расположение Торгового Центра</h2>
  <img class="card" src="../../../assets/img/card.png" alt="" />
  <p class="info">
    Белгород является административным центром Белгородской области, расположен
    в 600 км. от Москвы. Численность населения, 380 тыс. чел.
  </p>
  <p class="info">
    Торговый центр располагается в густонаселённом районе города, на проспекте
    Богдана Хмельницкого, который проходит через весь город и является основной
    дорогой.
  </p>
  <p class="info">
    На расстоянии 100м. от ТЦ находится Автовокзал Белгорода, где присутствует
    большой траффик, а также на расстояние 800м. находится аэропорт Белгорода,
    тем самым ТЦ занимает удачное месторасположение.
  </p>
  <p class="info">
    В радиусе 500 м. является одним из самых удобных магазинов шаговой
    доступности.
  </p>
</div>
