<div class="shops">
  <span class="floor-number">1 этаж</span>
  <div class="floor-content">
    <div class="content-list">
      <span class="list-item">Пиво "Хмельник"</span>
      <span class="list-item">Фрукты, овощи</span>
      <span class="list-item"
        >1. Аптека "Аптечный склад"<br />
        Тел. +7 928 884 56 02</span
      >
      <span class="list-item">2. Салон связи TELE 2</span>
      <span class="list-item"
        >3. Кальяны, табачные смеси <br />Тел. +7 904 534 56 56</span
      >
      <span class="list-item">4. Аренда</span>
      <span class="list-item">5. Wildberries</span>
      <span class="list-item">6. Универсам "Магнит"</span>
      <span class="list-item">7. Магнит Косметик</span>
    </div>
    <div class="floor-image">
      <img src="../../../assets/img/1floor.png" alt="" />
    </div>
  </div>
  <span class="floor-number">0 этаж</span>
  <div class="floor-content">
    <div class="content-list">
      <span class="list-item"
        >1. "X-BET" Букмекерская контора. Пункт приема ставок</span
      >
      <span class="list-item"
        >2. Парфюмерия и косметика из Белоруссии. В наличии и под заказ. Тел. +7
        915 567 76 62</span
      >
      <span class="list-item">3. Faberlic </span>
      <span class="list-item"
        >4. Ремонт компьютеров <br />
        Тел. +7 920 200 66 35</span
      >
      <span class="list-item">5. Аренда</span>
      <span class="list-item">6. Аренда</span>
      <span class="list-item">7. Маникюр, педикюр Тел. +7 915 577 24 74 </span>
      <span class="list-item">8. Парикмахерская Тел. +7 951 144 73 45</span>
      <span class="list-item">9. Ателье Тел. +7 906 603 63 95</span>
      <span class="list-item">10. Стрижка собак Тел. +7 919 277 45 33</span>
      <span class="list-item">11. Аренда</span>
      <span class="list-item">12. Аренда</span>
      <span class="list-item">13. Аренда</span>
      <span class="list-item">14. Аренда</span>
      <span class="list-item">15. Аренда</span>
      <span class="list-item">16. Одежда</span>
      <span class="list-item">17. Рукоделье. Фурнитура</span>
    </div>
    <div class="floor-image">
      <img src="../../../assets/img/0floor.png" alt="" />
    </div>
  </div>
</div>
