<div class="contacts">
  <h2>Контакты:</h2>
  <span class="contact-item"
    >Наш адрес: Россия, Белгородская обл., 308019, г. Белгород, проспект Богдана
    Хмельницкого, д. 156А</span
  >
  <span class="contact-item">Телефон:</span>
  <span class="contact-item">+7 (980) 320-96-30 </span>
  <span class="contact-item">+7 (910) 362-77-13</span>
  <span class="contact-item">Олег</span>
  <div class="icons">
    <img src="../../../assets/img/icon/unnamed.png" alt="" class="icon" />
    <img
      src="../../../assets/img/icon/whatsapp-messenger.png"
      alt=""
      class="icon"
    />
  </div>
  <div class="contact-email">
    <span class="email-title">E-Mail:</span>
    <a routerLink="" class="email-item">kom.arenda.2010@yandex.ru</a>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2495.6166296817214!2d36.57012065234232!3d50.637256067263685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41266b314ea2c4b9%3A0xb5bbbdbba0373f00!2z0JHQvtCz0LTQsNC90LAg0KXQvNC10LvRjNC90LjRhtC60L7Qs9C-INC_0YDQvtGB0L8uLCAxNTbQsCwg0JHQtdC70LPQvtGA0L7QtCwg0JHQtdC70LPQvtGA0L7QtNGB0LrQsNGPINC-0LHQuy4sIDMwODAyMw!5e0!3m2!1sru!2sru!4v1665324617323!5m2!1sru!2sru"
    width="600"
    height="450"
    style="border: 0; margin-top: 16px; width: 76%"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
