<div class="about">
  <div class="about-image">
    <img src="../../../assets/img/aboutImage.jpg" alt="" />
  </div>
  <p class="info">
    Торговый центр «Купеческий» расположен на проспекте Богдана Хмельницкого,
    который проходит через весь город и является основной дорогой.
  </p>
  <p class="info">
    Удобное расположение, современный дизайн, а также широкий выбор брендов
    служат дополнительным фактором привлекательности торгового центра.
  </p>
  <p class="info">
    На двух уровнях торгового центра представлен широчайший спектр товаров и
    услуг, что позволяет посетителям совершать все покупки в одном месте.
  </p>
  <p class="info">
    Торговые галереи на 0 и 1 этажах включает в себя магазины, ориентированные
    на потребителей с различным достатком.
  </p>
  <span class="info-work"
    >Наш Торговый Центр работает ежедневно с 10:00 до 22:00</span
  >
</div>
