.about {
  padding: 120px 0;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  .about-image {
    padding: 6px 6px 2px 6px;
    background-color: #fff;
    border: 2px solid #0079db;
    margin: 0 auto;
    width: 70%;
    img {
      width: 100%;
    }
  }
  .info {
    text-align: left;
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 16px 0;
    color: #342216;
    font-weight: 500;
    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: #342216;
      top: 28%;
      left: -3%;
      border-radius: 10px;
    }
  }
  .info-work {
    color: #342216;
    font-weight: 500;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .about {
    width: 90%;
    .info {
      width: 100%;
    }
  }
}
